@import "../assets/shared";

body {
  color: $ff-grey-80;
}

h2 {
  font-weight: normal;
}

.row {
  margin: 0px;
  margin-left: -5px;
  padding: 8px 0px 8px 8px;
  line-height: 20px;
  border-top: 1px solid #c1c1c1;

  label {
    display: inline-block;
    width: 30%;
    min-width: 200px;
  }

  a {
    color: $ff-blue-50;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    border: 1px $ff-grey-20 solid;
    vertical-align: middle;
    margin-left: 2rem;
  }

  input, pre {
    display: inline-block;
  }

  select {
    width: 10rem;
  }

  &:first-of-type {
    border-top: 0px none;
  }
}
